:root {
  /* Webpage Theme Colours */
  --color_1: #353839;
  --color_2: #c8a2c8;
  --color_3: #FFFAFA;

}

/* Universal Selectors */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Body Element Selectors */
body {
  background: var(--color_1);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--color_3);
  font-size: 3rem;
}

/* Anchor Selectors for whole page */
a {
  color: var(--color_3);
  text-decoration: none;
}

/* h2 Selectors for whole page */
h2 {
  text-decoration: underline;
}

/* dummy to re-align nav links */
.dummy {
  padding: 0.3vh;
  width: 100%;
  visibility: hidden;
  display: inline-block;
}

/* Fixed Header Element with nav bar */
header {
  position: fixed;
  width: 100%;
  z-index: 1000000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--color_2), var(--color_1));
  padding: 10px;
}

header h1 {
  font-size: 0.83333333333em;
  text-shadow: 0 0 .1em, 0 0 .3em;
}

/* Nav bar styling */
#main_nav a {
  padding: 5px 6px;
  transition: 1.2s;
  flex-wrap: nowrap;
}

#main_nav a:hover {
  color: var(--color_1);
  border-radius: 1.5rem;
  background-color: var(--color_3);
  transition: 1.2s;
}

/* Hero Section */
.hero {
  padding-top: 1%;
  display: grid;
  height: 85vh;
  width: 100%;
  grid-template-columns: 1fr 1.43fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:"aywin hello"
                      "aywin hello";
  justify-content: center;
  align-items: center;
}

#hero_banner {
  grid-area: 1 / 1 / 3 / 3;
  height: 85vh;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
}

#hero_aywin {
  grid-area: aywin;
}

#hero_aywin img {
  max-width: 65%;
  max-height: 100%;
  border-radius: 100%;
  box-shadow: 0.4rem 0.4rem var(--color_2), -0.4rem 0 .4rem var(--color_2);
}

#hello_world {
  grid-area: hello;
}

#hello_world h2 {
  max-height: 100%;
  max-width: 100%;
  font-size: 3.3333333333333em;
  text-shadow: 0.2rem 0.2rem var(--color_2);
}

/* Main content flex wrap - improves gap */
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: space-between;  ERROR IDK YET */ 
  gap: 50px;
  padding: 15px;
}

/* About section styling - flex better here */
#about_grid_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  row-gap: 5vh;
}

  /* old about section - remove after changing class/id names*/
  /* padding: 2.5% 5%; */
  /* display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

#about_grid_container h2 {
  grid-column: 1 / 3;
}

#about_grid_container p {
  text-align: left;
  grid-column: 1 / -1;
  font-size: 2rem; */

/* Work Section */
#work {
  display: grid;
  padding: 0 5%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.1fr 3fr 2fr 2fr; /* CAREFUL <1fr CAN BREAK SCALING LAYOUT */
  grid-template-areas: "dummy dummy"
                      "work work"
                      "featured featured"
                      "Project_1 Project_2"
                      "Project_3 Project_4";
  justify-content: center;
  align-items: center;
  gap: 2.5% 5%;
}

/* Work Heading */
#work .dummy {
  grid-area: dummy;
  height: 5vh;
}
#work h2 {
  grid-area: work;
}

/* Styling for all work grids */
.project {
  width: 100%; height: 100%;
  position: relative;
  text-shadow: var(--color_1) 0.3rem 0.3rem;
}

.project a img {
  height: 100%; width: 100%;
  filter: opacity(0.1);
  transition: 0.6s;
  object-fit: cover;
}

.project a img:hover {
  filter: none;
  transition: 1.2s;
}

.project h3 {
  position: absolute;
  top: 20%; left: 1%;
  pointer-events: none;
}

.project p {
  position: absolute;
  bottom: 20%; left: 1%;
  pointer-events: none;
}

/* Positioning work into grid template */
#featured {
  grid-area: featured;
}

#Project_1 {
  grid-area: Project_1;
}

#Project_2 {
  grid-area: Project_2;
}

#Project_3 {
  grid-area: Project_3;
}

#Project_4 {
  grid-area: Project_4;
}

/* Contact Styling */
.section_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section_contact p {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.section_contact p a img {
  width: 5vh;
  height: 5vh;
  transition: 1.2s
}

.section_contact p a img:hover {
  width: 15vh;
  height: 15vh;
  transition: 1.2s;
}


/* Media queries */
/* Max width <1200px */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 2rem;
  }
}

/* Max width <840px */
@media only screen and (max-width: 840px) {
  body {
    font-size: 1.5rem;
  }

/* no hover functionality on touchscreens - remove opacity + improve readability */
   .project a img {
     filter: opacity(1);
     /* z-index: 1; */
   }
 
   #work h3 , #work p {
     z-index: 57846478647864786;
     background-image: linear-gradient(225deg,var(--color_2), var(--color_1));
   }
}

/* Max width <650px */
@media only screen and (max-width: 650px) {
  #main_nav a {
    font-size: 0.8em;
    padding: 1px;
  }

  #about_grid_container p {
    font-size: 0.8em;
  }

#work h3, #work p {
  font-size: smaller;
}

}

/* Max width <540px */
@media only screen and (max-width: 540px) {
  body {
    font-size: 1.1rem;
  }
}

/* Max width <400px */
@media only screen and (max-width: 400px) {
  body {
    font-size: 1rem;
  }

  .section_contact h2 {
    display: none;
  }

  .section_contact p a img:hover {
    width: 5vh;
    height: 5vh;
    transition: 0ms;
  }

  #hello_world h2 {
    display: none;
  }

  .hero {
    grid-template-areas:"aywin aywin"
                        "aywin aywin";
  }
}

/* Max width <370px */
@media only screen and (max-width: 370px) {
  body {
    font-size: 0.9rem;
  }
}

/* Max width <340px */
@media only screen and (max-width: 340px) {
  body {
    font-size: 0.8rem;
  }
}